{% extends 'bootstrap/base.html' %}

{% block title %}Dewar Arrival Slip{% endblock %}

{% block content %}
  <div class="container">
    <h1>MX Dewar Shipment Information</h1>
    <section class="row">
      <div class="col-xs-8">
        <h3>Sender</h3>
        <p id="owner">{{owner}}</p>
        <p id="department">{{department}}</p>
        <p id="institute">{{institute}}</p>
        <p id="street_address">{{streetAddress}}</p>
        <p id="city">{{city}}</p>
        <p id="state">{{state}}</p>
        <p id="postcode">{{postcode}}</p>
        <p id="country">{{country}}</p>
        <p id="phone">Contact Phone: {{phone}}</p>
        <p id="email">Contact Email: {{email}}</p>
        <p id="epn">EPN is {{epn}}</p>
        <p id="beamline">Beamline: {{beamline}}</p>
        <p id="start_time">Start time: {{experimentStartTime}}</p>
        <p id="end_time">End time: {{experimentEndTime}}</p>
        <p id="name">Dewar ID is {{name}}</p>
        {% if returnDewar %}
          <p>User wants samples returned by courier</p>
        {% endif %}
        <p id="courier">Using courier: {{courier or 'none'}}</p>
        <p id="courier_account">With account number: {{courierAccount or 'none'}}</p>
      </div>
      <div id="filled_code" class="col-xs-4">
        <div class="pull-right">
        <h3>Dewar Filled</h3>
        <img class="barcode" src="{{ qrcode(filled_payload, box_size=6) }}">
        </div>
      </div>
    </section>
    <section class="row">
      <div class="col-xs-8">
        <h3>Departure</h3>
        <p id="containers">Containers IDs are: {{expectedContainers}}</p>
        <p>All samples returned to dewar by: _______________________</p>
        <p>Date: _________________________</p>
      </div>
      <div id="departed_code" class="col-xs-4">
        <div class="pull-right">
          <h3>Dewar Departed</h3>
          <img class="barcode" src="{{ qrcode(departed_payload, box_size=6) }}">
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
