beautifulsoup4==4.4.1
click==6.2
colorama==0.3.6
dominate==2.1.16
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-QRcode==0.6.0
Flask-Script==2.0.5
itsdangerous==0.24
Jinja2==2.8
MailShake==0.11.2
MarkupSafe==0.23
pdfkit==0.5.0
Pillow==3.1.1
py==1.4.31
PyPDF2==1.25.1
pytest==2.8.7
python-dateutil==2.6.1
PyYAML==3.11
qrcode==5.2.2
requests==2.9.1
six==1.10.0
git+https://github.com/RobbieClarken/socketIO-client@utf8bug
vcrpy==1.7.4
visitor==0.1.2
websocket-client==0.35.0
Werkzeug==0.11.3
wrapt==1.10.6
zbarlight==1.0.0
